body{
    background-color: powderblue;
}
h1
 {
    text-align: center;
    text-shadow: 2px 2px 2px white
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
}

.link {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 30px auto;
    border: 2px solid gray;
    padding: 2px;
}
.myButton {
    color: rgb(255, 255, 255); font-size: 20px; line-height: 20px; padding: 6px; border-radius: 10px; 
    font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; 
    text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
    .myButton:active {
    background: #144E75; }