body{
    background-color: powderblue;
}
h1
 {
    text-align: center;
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
}

.link {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 30px auto;
    border: 2px solid gray;
    padding: 2px;
}